<%- include("partials/header") %>
    <img src="images/img1.jpg" alt="Avatar" id="upper_left" width="400em">
    <img src="images/img2.jpg" alt="Avatar" id="upper_right" width="400em">
    <img src="images/img3.jpg" alt="Avatar" id="lower_left" width="400">
    <img src="images/img4.jpg" alt="Avatar" id="lower_right" width="400">
    <div class="container d-grid gap-2 col-5 mx-auto" style="margin: 10em;">
        <a href="/employees%>" type="button" class="btn" style="color: inherit;">
            <div class="card zoom" style="width: 40rem; display: inline-block;">
                <div class="card-body">
                    <h1>Employee Details</h1>
                </div>
            </div>
        </a>
        <a href="/departments%>" type="button" class="btn" style="color: inherit;">
            <div class="card zoom" style="width: 40rem; display: inline-block;">
                <div class="card-body">
                    <h1>Department Details</h1>
                </div>
            </div>
        </a>
        <a href="/projects%>" type="button" class="btn" style="color: inherit;">
            <div class="card zoom" style="width: 40rem; display: inline-block;">
                <div class="card-body">
                    <h1>Project Details</h1>
                </div>
            </div>
        </a>
    </div>
    
<%- include("partials/footer") %>