<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div style="width: 50%; margin: 20px auto;">
            <h1 style="text-align:center;">Add a new Employee</h1>
            <form action="/employees" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="first_name" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="middle_name" placeholder="Middle Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="last_name" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="string" name="phone_number" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="gender" placeholder="Gender Type M/F">    
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" name="emp_dob" required pattern="\d{2}-\d{2}-\d{4}" placeholder="Date of Birth">
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" name="emp_doj" required pattern="\d{4}-\d{2}-\d{2}" placeholder="Date of Joining">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="d_id" placeholder="Department ID">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="address" placeholder="Address">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-outline-primary btn-block">Submit</button>
                </div>
            </form>
            <a class="btn btn-lg btn-outline-primary btn-block" href="/employees">Go back</a>
        </div>
        
    </div>
</div>

<%- include("../partials/footer") %> 